<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'user/userindex.html' %}
{% load static %}

{% block content %}

<table class="table">

    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bookname</th>
        <th scope="col">Bookprice</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% if book %}
    {% for i in book %}
    <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>
        <td>
            <a href="{% url 'userdetails' i.id %}" class="btn btn-primary">Detalis</a>

        </td>
    </tr>
    {% endfor %}
    {% endif %}


    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">

      {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% endif %}

      {% for num in page.paginator.page_range %}

      <li class="page-item {% if page.number == num %}activate {% endif %}"><a class="page-link" href="?page={{num}}">{{num}}</a></li>

      {% endfor %}


      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
  </ul>
</nav>

{% endblock %}
</body>
</html>